@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(69, 123, 157, 0.6);
    height: 100vh;
    margin: 0%;
}

table {
    border-spacing: 0px;
    border: 2px solid black;
}

button {
    background-color: rgba(29, 53, 87, 1);
    border: none;
    color: white;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
}

#title {
    font-size: 75px;
    margin: 20px;
    font-family: 'Chakra Petch', sans-serif;
    width: 100vw;
    text-align: center;
    background-color: rgba(29, 53, 87, 1);
    color: white;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#size-form {
    margin: 10px;
}
#board-size {
    font-family: 'Chakra Petch', sans-serif;
    width: 55px;
    height: 30px;
    border: none;
    color: rgba(29, 53, 87, 1);
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
}
#generate-board {
    font-family: 'Chakra Petch', sans-serif;
}

.color {
    width: 100px;
    height: 100px;
    border: 4px solid rgb(29, 53, 87);
    border-radius: 25%;
    margin: 5px;
}
#color-palette {
    width: fit-content;
    display: flex;
}

#fixed-color {
    background-color: black;
}
#color-01 {
    background-color: red;
}
#color-02 {
    background-color: green;
}
#color-03 {
    background-color: blue;
}
#clear-color {
    background-color: white;
}

#pixel-board {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.pixel {
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    width: 40px;  
    height: 40px;
}

#clear-board {
    font-family: 'Chakra Petch', sans-serif;
}