table {
    border-spacing: 0px;
    border: 2px solid black;
}

.color {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    border-radius: 50%;
    margin: 5px;
}
#color-palette {
    width: fit-content;
    display: flex;
}
#fixed-color {
    background-color: black;
}
#color-01 {
    background-color: red;
}
#color-02 {
    background-color: green;
}
#color-03 {
    background-color: blue;
}
#pixel-board {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.pixel {
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: white;
  width: 40px;  
  height: 40px;
}